# Ігнорувати файли поза проектом WpfApp5
/Models/
/Services/
/ViewModels/
/Views/

# Не ігнорувати файли в папці проекту
!/WpfApp5/Models/
!/WpfApp5/Services/
!/WpfApp5/ViewModels/
!/WpfApp5/Views/

# Файли збірки
bin/
obj/
